
#titleBox {
    position: absolute;
    top: 16px;
    left: 16px;
    width: auto;
    height: auto;
    overflow: hidden;
    visibility: hidden;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
}
#titleText {
    display: inline-block;
    font-weight: 500;
    color: white;
    background-color: #171414;
    font-size: 46px;
    margin: 0;
    padding: 16px 32px 16px 32px;
}
#subtitleText {
    display: inline-block;
    font-weight: 800;
    color: #171414;
    background-color: whitesmoke;
    font-size: 24px;
    margin: 0;
    padding: 16px 32px 16px 32px;
}



#descBox {
    position: absolute;
    bottom: 16px;
    left: 16px;
    height: auto;
    overflow: hidden;
    visibility: hidden;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
}
#descText {
    background-color: #171414;
    color: #f6f6f6;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0px;

    /* limit to 2 lines with ellipsis */
    border: 32px solid transparent;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



#infoBox {
    position: absolute;
    top: 16px;
    right: 16px;
    width: auto;
    height: auto;
    overflow: hidden;
    visibility: hidden;
    max-width: calc(40% - 32px);
    max-height: calc(100% - 32px);
}

.infoText {
    display: inline-block;
	background-color: #fffffffa;
	color: #100;
	font-size: 32px;
    font-weight: 800;
    padding: 2px 8px 2px 8px;
    margin-top: 0px;
    margin-left: 8px;
}
