.gallery h1,h2,h3,h4,h5 {
    font-weight: 500;
}


.gallery > .images > .image {
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: contain;
    background-repeat: repeat;
    background-position: 50% 50%;
    image-rendering: auto;
    scale: 1.0;
} 

.gallery > .images > .image.prevent-gc {
    z-index: -1;
    /* 
    * In Chrome I seem to get annoyingly large pauses due to GC when zooming in (changing the scale) on big images (> 4k x 4k pixels)
    * This is used to try and combat that by keeping a copy of the full size image in memory and rendered (although not visible to the user)
    * Seems to work for now....
    */
}


.gallery > .video-container {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    scale: 1.0;
}

.gallery img.preload {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.gallery #gallery-overlay {
	position: absolute;
	color: #ececec;
    background-color: #171414;
    padding: 52px 52px 52px 52px;
    width: calc(100% - 104px);
    /* height: 123px; */
    height: 1080px;
	top: 0px;
    overflow: clip;
    z-index: 1;
}

.gallery #progressBox {
    visibility: hidden;
    opacity: 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 4px;
    background-color: #fff;
    background: linear-gradient( black 50%,white 50%);
	z-index: 1;
}

.gallery #loadSpinner {
    visibility: visible;
    opacity: 1;
    position: absolute;
    margin: 0 auto;
    top:calc(50% - 58px);/*16*/
    left:calc(50% - 8px);
	width: 16px;
	height: 9px;
    background-color: #fff;
}


.gallery .gallery-titles {
    text-align: end;
}
.gallery .gallery-titles h1 {

    margin: 0;
}

.gallery .gallery-titles.main {
    position: absolute;
    bottom: 134px;
}

.gallery .gallery-titles.main h1 {
    font-weight: 300;
    font-size: 96px;
    margin: 0;
    margin-top: -24px;
}

.gallery .gallery-titles.sub {
    
}

