.gallery {

}
.gallery > .images > .image {
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: cover;
    background-position: center;
    scale: 100%;
    image-rendering: crisp-edges;
}


.gallery img.preload {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.gallery #gallery-overlay {
	position: absolute;
	color: #ececec;
    background-color: #171414;
    padding: 32px 52px 42px 52px;
	width: 100%;
    /* height: 123px; */
    height: 1080px;
	top: 0px;
    overflow: clip;
    z-index: 1;
}